@model Identity_Core_MVC.ViewModels.ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-4 card p-3">
        <h2 class="text-center text-info">Reset Password</h2>
        <form asp-action="ForgotPassword" asp-controller="Account" method="post">
            <div class="mb-1">
                @Html.DisplayNameFor(model => model.Email)
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-1">
                @Html.DisplayNameFor(model => model.ConfirmNewPassword)
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-8">
                    <a asp-action="Index" asp-controller="Home" class="float-start text-decoration-none">Cancel</a>
                </div>
                <div class="col-4">
                    <input type="submit" value="Submit" class="btn btn-danger btn-sm float-end" />
                </div>
            </div>
        </form>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}